@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Nunito',  sans-serit;
  background-color: #000;
  color: #fff;
}